@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  @apply .dark;
}
.dark {
  --color-bg-primary: #161b25;
  --color-bg-secondary: #262d3a;
  --color-bg-accent: #161b25;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-text-opposite: #ffffff;
}

.light {
  --color-bg-primary: #edf2f7;
  --color-bg-secondary: #ffffff;
  --color-bg-accent: #2b6cb0;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-text-opposite: #ffffff;
}

.container {
  @apply w-10/12 mx-auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  height: 14px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
